server {
        listen 80;
		server_name YOUR_DOMAIN_OR_IP_ADDRESS;
		root /var/www/html/opencart;
		index index.php index.htm index.html;
		location / { try_files $uri $uri/ /index.php?$args;
		}
	 	location ~ .php$ {
	 	fastcgi_pass unix:/run/php/php8.1-fpm.sock;
	 	fastcgi_index index.php;
	 	fastcgi_read_timeout 240;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	 	include fastcgi_params;
		fastcgi_split_path_info ^(.+.php)(/.+)$;
		}
}
